<div class="row">
  <div class="col-xs-12">
    <%= form_tag root_path, method: :post, class: 'form' do %>
      <%= text_area_tag @posts.content, class: 'form-control' %>
    <!-- @postS, au pluriel ? Le tableau ?! -->
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <% if @posts.nil? == false %> 
    <!-- En revanche ici vous testez la nullabilité sur un tableau => vous avez un problème global avec les types :-/ -->

      <% @posts.each do |post| %>
        <p><%=  post.content %></p><br/>
        <p><%=  post.user.mail %></p>
      <% end %>
    <%end %>
    <!-- Il manque des features ! -->
  </div>
</div>
